/*↓ Block, box ↓*/
/*↓ Header ↓*/
.box__header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.box__header_1 {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.box__header_link {
    display: flex;
    align-items: center;
    gap: 60px;
}

/*↓ Block1 ↓*/
.box__block_1__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}
body .box__block_1__left {margin-top: 20vh; margin-bottom: 10vh;}

.box__block_1__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
}

.moki_1 {
    background: url('../../assets/image/moki2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    margin-bottom: 60px;
}
body .moki_1 {margin-top: 16vh;}
.moki_2 {background-image: url('../../assets/image/moki1.gif');}

/*↓ element ↓*/
.element {
    border-radius: 14px;
    background-color: #FFEABF;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    margin: 3vh 0px;
}

/*↓ dishes ↓*/

.img_1 {
    border-radius: 16px;
    height: 300px;
    width: 100%;
    margin-bottom: 16vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box__dish_1 {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.el__dish {
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #BFD4FF;
}

.ed_2 {background-color: #FFBFCA;}
.ed_3 {background-color: #FFEABF;}

.rec_info {
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 10vh;
    padding: 20px;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.off .box_on_rec {display: none;}
.on .box_on_rec {display: static;}

.box_rec_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box_rec_info .free {height: 40px; width: 40px;}


@media (max-width: 992px) {
    body .text__block_1__big {font-size: 22px;}
    body .text__block_1__small {font-size: 10px; width: 90%;}
    body .text__block_1__link {font-size: 10px;}

    /* Dishes */
    .img_1 {height: 30vh; margin-bottom: 4vh;}
    .box__dish_1 {margin-bottom: 4vh;}
    .rec_big {width: 80%;}
}

@media (max-width: 768px) {
    /* Main */
    body .moki_1 {margin: 0px; margin-top: 4vh;}
    body .box__block_1__left {margin-top: 6vh;}
    .text__block_1__big {font-size: 18px;}
    .text__block_1__small {font-size: 10px;}
    .text__block_1__link {font-size: 10px;}

    /* Header */
    .logo {font-size: 14px;}
    .version {font-size: 6px;}
    .text_header_link {font-size: 6px;}

    /* Block2 */
    .text__block_1__margin {margin-bottom: 4vh;}
    body .box__block_1__left {margin-bottom: 0px;}
    body .box__block_1__left {margin-top: 10vh;}

    /* Dishes */
    .img_1 {height: 30vh; margin-bottom: 4vh;}
    .box__dish_1 {margin-bottom: 8vh;}
    .rec_big {width: 80%;}
}

@media (max-width: 576px) {
    /* Header */
    .box__header_link {gap: 15px; flex-direction: column;}
    .box__header_1 {gap: 15px;}
    body .logo {font-size: 10px;}
    .box__header_main {
        padding-bottom: 10px;
        border-bottom: #999999 2px dashed;
    }

    /* Block1 */
    body .text__block_1__big {font-size: 14px; margin-bottom: 5px;}
    body .text__block_1__small {font-size: 8px; width: 90%;}
    body .text__block_1__link {font-size: 8px; padding: 8px 12px;}
    body .box__block_1__left {margin-top: 12vh;}

    /* Dishes */
    .img_1 {height: 30vh; margin-bottom: 4vh;}
    .box__dish_1 {margin-bottom: 8vh;}
    .el__dish p {font-size: 10px;}
    .el__dish .text__el {font-size: 14px;}
    .rec_big {font-size: 16px; width: 80%;}
    .rec_small p {font-size: 10px;}
}