/*↓ Header ↓*/
.logo {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.version {
    font-size: 8px;
    color: #E5A82E;
    background-color: #FFEABF;
    padding: 8px 12px;
    border-radius: 6px;
}

.text_header_link {
    text-decoration: none;
    font-size: 8px;
    color: #999999;
    transition-duration: 300ms;
}
.text_header_link:hover {
    color: #000000;
    transform: scale(1.15);
}

/*↓ Block1 ↓*/
.text__block_1__big {font-size: 26px;}

.text__block_1__small {
    width: 80%;
    font-size: 12px;
    line-height: 150%;
    color: #B3B3B3;
}

.text__block_1__margin{margin-bottom: 16vh;}

.text__block_1__link {
    font-size: 12px;
    width: 100%;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    color: #A92EE5;
    background-color: #EABFFF;
    border-radius: 12px;
    text-decoration: none;
    transition-duration: 450ms;
    border: none;
}
.text__block_1__link:hover {
    transform: translateX(20px);
}

.blue {color: #2E6BE5; background-color: #BFD4FF;}

.img__block_1__button {
    padding: 0px;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    border: 2px #A92EE5 solid;
    background-image: url("../../assets/image/arrow1.svg");
    background-size: contain 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.el {background-image: 
    url("../../assets/image/arrow3.svg");
    border: none; background-color: #FFDD99;
    height: 40px;
    width: 40px;
    margin: 10px;
    transition-duration: 250ms;
}
.el:hover {transform: scale(1.15);}
.two {background-image: url("../../assets/image/arrow2.svg"); border: 2px #2E6BE5 solid;}
.free {background-image: url("../../assets/image/arrow4.svg"); border: none; background-color: #EBEBEB;}

/*↓ Element ↓*/

.text__el_big {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    color: #E5A82E;
    width: 100%
}

.text__el_small {
    font-size: 8px;
    margin-left: 10px;
    color: #E5BF73;
    width: 70%;
}

/*↓ Dishes ↓*/

.el__dish p {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #2E6BE5;
    font-size: 12px;
}

.el__dish .text__el {font-size: 16px;}
.ed_2 p {color: #E52E4D; background: none;}
.ed_3 p {color: #E5A92E; background: none;}

.rec_big {
    font-size: 20px;
    margin: 0px;
}

.rec_small {
    font-size: 12px;
    color: #666666;
    margin: 0px;
    margin-top: 14px;
}